
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

header{
    height: 100px;
    background-color: #000;
}

a{
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
}

.cabecalho{
    max-width: 1140px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.cabecalho .logo{
    width: 180px;
}

.cabecalho nav{
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

nav ul{
    display: flex;
}

nav ul, nav li{
    list-style: none;
}

.cabecalho nav li a{
    font-weight: 600;
    font-size: 15px;
    padding: 0 8px;
    display: flex;
    align-items: center;
    height: 100px;
    border-bottom: 5px solid black;
}

.cabecalho nav li a:hover, .cabecalho nav .active a{
    border-bottom: 5px solid #b28756;
    color: grey;
}

/* main */

main #home{
    height: calc(100vh - 100px);
    background-image: url('../img/bg.jpg');
    background-size: cover;
    background-position: bottom;
    overflow: hidden;
}

main .sliders{
    width: 400vw;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
}

main .slide{
    width: 100vw;
    height: 100%;
    display: inline-block;
}

main .slide-area{
    height: 100%;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main .slide-area h1{
    text-transform: uppercase;
    font-size: 50px;
    font-weight: bold;
}

main .slide-area .outro{
    color: #b28756;
}

main .slide-area p{
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
}

main .apadrao{
    width: 200px;
    background-color: #b28756;
    border-radius: 30px;
    margin-top: 50px;
    padding: 10px;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
}

main .slider-pointers{
    width: 100vw;
    height: 20px;
    position: absolute;
    margin-top: -30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

main .poniter{
    width: 12px;
    height: 12px;
    border: 2px solid #b28756;
    border-radius: 50%;
    margin-right: 5px;
    cursor: pointer;
}

main .poniter.active{
    background-color: #b28756;
}

/* sections */

main .padrao{
    width: 100vw;
    background-color: rgb(247, 247, 247);
    padding: 54px 0 84px 0;
}

main .padrao .A-padrao{
    display: block;
    width: 180px;
    background-color: #b28756;
    border-radius: 30px;
    padding: 10px;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
}

main .padrao .container{
    max-width: 1140px;
    margin: 0 auto;
}

.padrao .titulo, .padrao .conteudo{
    width: 100%;
}

.padrao .titulo{
    text-align: center;
    margin-bottom: 57px;
}

.titulo h1{
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 10px;
}

.titulo p{
    text-transform: uppercase;
    color: rgb(175, 175, 175);
    font-weight: bold;
    font-size: 12px;
}

.padrao .conteudo{
    display: flex;
}

.conteudo .texto{
    flex: 1;
    margin-right: 20px;
}

.texto p{
    margin-bottom: 30px;
    line-height: 20px;
    font-size: 13px;
}

.conteudo .video{
    width: 440px;
    height: 280px;
    box-shadow: 0px 5px 10px #333;
}

.padrao.black{
    background-color: black;
}

.padrao.black h1{
    color: white;
    text-align: center;
    text-transform: uppercase;
}

.padrao.black .caixas{
    width: 286px;
    height: 219px;
    padding: 23px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-left: 1px solid rgb(175, 175, 175);
}

.padrao.black .caixas:last-child{
    border-right: 1px solid rgb(175, 175, 175);
}

.padrao.black .caixas h1{
    font-size: 16px;
    margin-bottom: 10px;
}

.caixas img{
    width: 58px;
    height: 58px;
    margin-bottom: 35px;
}

.caixas p{
    color: rgb(175, 175, 175);
    text-align: center;
    font-size: 10px;
}

.padrao.service .conteudo{
    border: 1px solid red;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.padrao.service a{
    color: black;
}

.padrao.service .filters{
    border: 1px solid rgb(207, 207, 207);
    background-color: rgb(237, 237, 237);
    border-radius: 30px;
    height: 60px;
    width: 650px;
    display: flex;
    justify-content: center;
    margin-bottom: 35px;
}

.filters ul{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.filters li{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.filters li a{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    border-right: 1px solid rgb(207, 207, 207);
    font-size: 12px;
    padding: 0 20px;
    border-bottom: 4px solid rgb(237, 237, 237);
    border-top: 4px solid rgb(237, 237, 237);
}

.filters .none{
    border-right: none;
}

.filters li a:hover{
    border-bottom: 4px solid #b28756;
    color: grey;
}

.conteudo .galeria{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.conteudo .galeria .fotos{
    padding: 0 20px 20px 0;
}

.galeria .fotos .foto-detalhe{
    width: 250px;
    height: 160px
}

.galeria .fotos .foto-info{
    position: absolute;
    width: inherit;
    height: inherit;
    background-color: rgba(0,0,0,0.6);
    padding: 0 20px 20px 0;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    visibility: hidden;
}

.foto-info h5{
    text-transform: uppercase;
    margin-bottom: 10px;
    font-weight: 600;
}

.conteudo .galeria .fotos img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.fotos:hover .foto-info{
    visibility: visible;
}

.padrao.service .A-padrao{
    color: white;
}

.padrao.our-team{
    background-image: url("https://source.unsplash.com/random?id=1");
    padding: 0 0;
}

.padrao.our-team .preta{
    position: absolute;
    width: 100%;
    background-color: rgba(0,0,0,0.6);
    padding: 54px;
}