
@media (min-width: 450px) and (max-width: 800px){

    .cabecalho{
        padding: 0 40px;
        justify-content: space-between;
    }

    .menu-open{
        display: block;
    }

    .cabecalho nav{
        visibility: hidden;
        display: block;
        position: absolute;
        z-index: 99;
        background-color: rgba(0, 0, 0, 0.9);
        width: 70vw;
        height: calc(100vh - 150px);
        top: 100px;
        right: 0;
    }

    .cabecalho nav ul{
        flex-direction: column;
    }

    .cabecalho nav li a{
        font-weight: bold;
        font-size: 20px;
        margin-left: 50px;
        border: none;
        height: 50px;
    }

    .cabecalho nav li a:hover, .cabecalho nav .active a{
        border: none;
        color: #b28756;
    }

    .padrao .conteudo{
        padding: 0 30px;
        flex-direction: column;
        align-items: center;
    }
    
    .padrao .texto{
        margin-bottom: 30px;
    }

    .padrao.black .conteudo{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    
    .padrao.black .caixas{
        border: none;
    }

    .padrao.black .caixas.segunda, .padrao.black .caixas.ultima{
        border-left: 1px solid rgb(175, 175, 175);
    }

    .padrao.black .caixas:last-child{
        border-right: none;
    }

    .padrao.our-team .team-ct-fotos{
        width: 319px;
        height: 402px;
        margin-right: 18px;
    }

    .padrao.our-team{
        height: 685px;
    }

    .padrao.our-team .team-ct-fotos:last-child{
        display: none;
    }

    .padrao.price .conteudo{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .padrao.price .conteudo .table{
        margin: 10px auto;
    }
}