

.padrao.contact .conteudo form{
    width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.padrao.contact .conteudo form .A-padrao{
    margin: 0 auto;
}

.padrao.contact .conteudo input{
    width: 100%;
    color: rgb(174, 174, 174);
    background-color: rgb(247, 247, 247);
    border: none;
    padding: 15px 0;
    border-bottom: 2px solid rgb(174, 174, 174);
}

.padrao.contact .conteudo .form-input{
    display: flex;
    margin-bottom: 40px;
}

.padrao.contact .conteudo .form-input .espaco{
    margin-right: 35px;
}