
.padrao.happy-clients .conteudo{
    border: 1px solid red;
    align-items: center;
    justify-content: center;
}

.padrao.happy-clients{
    border: 1px solid red;
    padding-left: 0;
    padding-bottom: 0;
}

.padrao.happy-clients .conteudo .foto{
    width: 150px;
    height: 150px;
    margin-bottom: 30px;
}

.padrao.happy-clients h1{
    font-size: 16px;
    margin-bottom: 5px;
}

.padrao.happy-clients h2{
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 30px;
}

.padrao.happy-clients p{
    font-size: 12px;
    margin-top: 5px;
    text-align: center;
}

.padrao.happy-clients .marcas{
    border-top: 1px solid black;
    border-bottom: 1px solid blac;
    width: 100%;
    height: 150px;
    margin-top: 40px;
}