
.mapa{
    border: 1px solid red;
    width: 100%;
    height: 60vh;
}

.mapa #mapid{
    height: 100%;    
}

.mapa #mapid .endereco{
    width: 540px;
    height: 340px;
    background-color: white;
    position: absolute;
}