
.padrao.black.some .amarelo{
    color: rgb(185, 139, 89);
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 0;
}

.padrao.black.some .barra{
    width: 18px;
    height: 4px;
    background-color: rgb(126, 126, 126);
    margin-bottom: 5px;
}

.padrao.black.some .caixas{
    border: none;
    justify-content: space-between;
}

.padrao.black.some .caixas p{
    margin-top: 10px;
}